html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff;
  font-family: Arial, sans-serif; }

.clearfix:before {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.wrapper {
  width: 500px;
  margin: 0 auto;
  padding-top: 50px; }

.todo-block {
  border: 2px solid #D6D6D6;
  padding: 0 0 10px; }
  .todo-block__head {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #337AB7;
    color: #fff; }

.tasks-list {
  min-height: 150px;
  padding: 0 10px;
  list-style: none; }
  .tasks-list__item {
    margin: 5px 0; }
  .tasks-list__text {
    float: left;
    max-width: 360px;
    overflow: hidden; }
  .tasks-list__edit-input {
    width: 300px;
    padding: 0;
    margin: 0;
    border: 1px solid #b9b9b9;
    outline: none; }

.controls {
  padding: 10px 0 0; }
  .controls__value-wrapper {
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #b9b9b9;
    border-radius: 5px; }
  .controls__value {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none; }

.btn {
  text-align: center;
  float: right;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer; }
  .btn--item-add {
    height: 30px;
    width: 150px;
    margin: 10px 15px 0 0;
    background-color: #5CB85C; }
  .btn--item-delete {
    height: 20px;
    width: 20px;
    background-color: #FF6C60; }
  .btn--item-edit {
    height: 20px;
    width: 40px;
    margin: 0 5px;
    font-size: 14px;
    background-color: #5CB85C; }
