body {
    background-color: #fff;
    width: 100%;
    height: 100%;
}
ul, h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.break {
    content: "";
}
.break:after {
    content: "\00a0";
}
@font-face {
    font-family: 'League Gothic Italic';
    src: url('../fonts/leaguegothic-italic-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sprite {
    background: url(../img/sprite.png) no-repeat;
    display: block;
}
.bg-mountains {
    width: 100%;
    height: 844px;
    /* delete */
    background: #fff url(../img/mountains.jpg) 50% 0 no-repeat;
}
.container {
    width: 960px;
    margin: 0 auto;
}

/* HEADER START*/

.main-header {
    height: 218px;
    padding: 60px 0 0 0;
}
.logo {
    float: left;
}
.logo__link {
    text-transform: uppercase;
    text-decoration: none;
    font: 48px 'League Gothic', Arial, sans-serif;
    color: #fff;
    text-shadow: 0px 1px 2px #000;
}
.logo__link--dark {
    text-shadow: none;
    background: linear-gradient(to bottom, rgba(116, 80, 131, 1) 0%, rgba(51, 38, 58, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-header__menu {
    margin: 10px 0 0 0;
    float: right;
}
.submenu {
    position: absolute;
    display: none;
}
.menu__item {
    display: inline-block;
    list-style: none;
    padding: 0 36px 0 0;
    position: relative;
}
.menu__link {
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    text-decoration: none;
    font: 24px 'League Gothic', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 1px 2px 2px #4f4f4f;
}
.menu__link:hover {
    background: url(../img/underline.png) 0 bottom repeat-x;
}
.last-item {
    padding: 0;
}

/* SLIDER START */

.transparen-block {
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
}
.phone-slider {
    height: 400px;
}
.phone-slider__text {
    width: 530px;
    padding: 70px 0 0 0;
    float: left;
}
.phone-slider__text__head {
    font: 60px 'League Gothic', Arial, sans-serif;
    color: #fff;
    text-shadow: 0px 1px 2px #000;
}
.phone-slider__text__description {
    margin: -12px 0 0 0;
    font: 32px 'League Gothic', Arial, sans-serif;
    color: #edbfff;
    letter-spacing: 0.3px;
}
.phone-slider__text__paragraph {
    font: 18px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #fff;
}
.phone-slider__iphone {
    width: 330px;
    height: 434px;
    margin: -18px 70px 0 0;
    float: right;
    position: relative;
}
.phone-slider__iphone__front {
    width: 197px;
    height: 434px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/iphone_front.png) no-repeat;
    z-index: 10;
}
.phone-slider__iphone__play {
    width: 77px;
    height: 77px;
    margin: 147px 0 0 60px;
    background-position: -15px -60px;
}
.phone-slider__iphone__play:hover {
    background-position: -271px 1px;
}
.phone-slider__iphone__back {
    width: 130px;
    height: 268px;
    top: 78px;
    left: 57px;
    position: absolute;
    background: url(../img/iphone_back.png) no-repeat;
    z-index: 9;
}
.zero-content {
    height: 166px;
}

/* GRAIENT START */

.gradient-line {
    height: 342px;
    background: linear-gradient(to bottom, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
    box-sizing: border-box;
}
.about-us {
    height: 267px;
    padding: 75px 0 0 0;
}
.about-block {
    width: 300px;
    height: 210px;
    padding: 0 30px 0 0;
    float: left;
}
.last-block {
    width: 300px;
    padding: 0;
}
.sprite--about-block {
    width: 40px;
    height: 40px;
    margin: 0 14px 170px 0;
    float: left;
}
.sprite--about-block-wrench {
    margin: 0 12px 170px 13px;
    background-position: -40px -12px;
}
.sprite--about-block-chat {
    background-position: -100px -12px;
}
.sprite--about-block--note {
    margin: 0 10px 170px 0;
    background-position: -155px -12px;
}
.about-block__head {
    font: 30px 'League Gothic', Arial, sans-serif;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
    overflow: hidden;
}
.about-block__text {
    display: block;
    padding: 5px 0 0 0;
    font: 16px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 24px;
    overflow: hidden;
}
.about-block__link {
    display: block;
    float: right;
    margin: 18px 20px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    font: 18px 'League Gothic', Arial, sans-serif;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}
.about-block__link:hover {
    text-shadow: 0px 0px 5px #fff;
}
.border-line {
    height: 2px;
    box-sizing: border-box;
    border-top: 1px solid #0d151b;
    border-bottom: 1px solid #f9f9f9;
    box-shadow: 0px 5px 5px 0px rgba(220, 220, 220, 1);
}

/* WHITE-BLOCK START */

.white-block {
    background-color: #f9f9f9;
}
.content {
    height: 370px;
    padding: 116px 0 0 0;
}
.mentions {
    width: 429px;
    box-sizing: border-box;
    float: left;
    background-color: #ffffff;
    border-right: 1px solid #f6f6f6;
    border-bottom: 1px solid #efefef;
    position: relative;
}
.angle {
    width: 23px;
    height: 23px;
    position: absolute;
    bottom: -23px;
    right: 40px;
    background-color: transparent;
    background-image: url(../img/angle.png);
}
.sprite--mentions {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 13px 170px 0;
    background-position: -103px -75px;
}
.mentions__head {
    padding: 9px 0 7px 0;
    text-transform: uppercase;
    font: 30px 'League Gothic', Arial, sans-serif;
    color: #454545;
}
.mentions__head--pink {
    color: #edbfff;
}
.mentions__text {
    margin: 0 9px 30px 0;
    font: 16px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
}
.updates {
    width: 450px;
    height: 280px;
    float: right;
}
.updates__content-line {
    height: 66px;
}
.updates__head {
    padding: 10px 0 12px 0;
    font: 30px 'League Gothic', Arial, sans-serif;
    color: #454545;
}
.sprite--updates {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 17px 0 0;
}
.sprite--updates-avatar1 {
    background-position: -157px -75px;
}
.sprite--updates-avatar2 {
    background-position: -210px -75px;
}
.sprite--updates-avatar3 {
    background-position: -268px -76px;
}
.updates__content-line__sub {
    padding: 0 0 5px 0;
    font: 16px 'Open Sans', Arial, sans-serif;
    font-weight: 800;
    color: #454545;
}
.updates__content-line__text {
    font: 16px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #454545;
    overflow: hidden;
}
.updates__read-more {
    float: right;
    margin: 2px 20px 0 0;
    text-decoration: none;
    font: 18px 'League Gothic', Arial, sans-serif;
    color: #454545;
    text-shadow: 1px 0px 1px #acacac;
}
.white-block__footer {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
}
.white-block__footer__partners-links {
    height: 65px;
    padding: 25px 0 31px 0;
}
.partner-links__link {
    height: 65px;
    display: block;
    float: left;
    background: url(../img/partners_sprite.png) no-repeat;
}
.partner-links__link--1 {
    width: 69px;
    margin: 0 65px 0 94px;
}
.partner-links__link--2 {
    width: 72px;
    margin: 0 64px 0 0;
    background-position: -72px 0;
}
.partner-links__link--3 {
    width: 65px;
    margin: 0 75px 0 0;
    background-position: -145px 0;
}
.partner-links__link--4 {
    width: 50px;
    margin: 0 68px 0 0;
    background-position: -212px 0;
}
.partner-links__link--5 {
    width: 104px;
    margin: 0 65px 0 0;
    background-position: -269px 0;
}
.partner-links__link--6 {
    width: 78px;
    background-position: -384px 0;
}

/* DIM-BLOCK START*/

.dim-block {
    background-color: #ececec;
}
.copyrights {
    height: 303px;
    padding: 93px 0 0 0;
}
.copyrights__text-block {
    width: 290px;
    height: 220px;
    float: left;
    margin: 0 48px 0 0;
}
.copyrights__text-block__head {
    padding: 0 0 5px 0;
    text-transform: uppercase;
    font: 30px 'League Gothic', Arial, sans-serif;
    color: #454545;
}
.copyrights__text-block__head--rare-style1 {
    font-size: 48px;
    color: #454545;
}
.copyrights__text-block__head--rare-style2 {
    color: #b9b9b9;
}
.copyrights__text-block__text {
    font: 16px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #787878;
    line-height: 24px;
}
.copyrights__text-block__text--copyright-style {
    padding: 0 0 6px 0;
    font: italic 16px Georgia, sans-serif;
    color: #c5c5c5;
}
.middle-block {
    margin: 0 40px 0 0;
}
.last-block {
    margin: 0;
}

/* FOOTER-BLOCK START */

.footer-block {
    background: url(../img/main_footer_bg.jpg) 50% 0 no-repeat;
}
.main-footer {
    height: 71px;
    padding: 43px 0 0 0;
}
.main-footer__menu {
    float: left;
}
.main-footer__menu .menu__item {
    padding-right: 27px;
}
.main-footer__menu .menu__link {
    font-size: 20px;
}
.autor_copyright {
    margin: 7px 0 0 0;
    float: right;
    font: 12px 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 1px 2px 2px #4f4f4f;
}
.autor_copyright--name {
    font-weight: 800;
}

/* MEDIA-QUERIES */


/* MEDIA-QUERY 959 */

@media screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
    .main-header {
        height: 183px;
    }
    .main-header__menu {
        float: left;
    }
    .phone-slider__text {
        width: 280px;
        height: 186px;
        overflow: hidden;
    }
    .phone-slider__text__head {
        font-size: 48px;
    }
    .phone-slider__text__description {
        margin: 3px 0 4px 0;
        white-space: nowrap;
        font-size: 24px;
    }
    .phone-slider__text__paragraph {
        font-size: 16px;
    }
    .about-block {
        width: 225px;
    }
    .about-block__head {
        font-size: 24px;
    }
    .about-block__text {
        height: 146px;
    }
    .about-block__link {
        margin-top: 5px;
    }
    .mentions {
        width: 350px;
    }
    .mentions__text {
        width: 255px;
        height: 145px;
    }
    .break {
        content: none;
    }
    .break:after {
        content: none;
    }
    .updates {
        width: 328px;
    }
    .updates__content-line__text {
        white-space: nowrap;
    }
    .updates__read-more {
        margin-right: 0px;
    }
    .partner-links__link--1 {
        margin: 0 55px 0 20px;
    }
    .partner-links__link--2 {
        margin: 0 54px 0 0;
    }
    .partner-links__link--3 {
        margin: 0 65px 0 0;
    }
    .partner-links__link--4 {
        margin: 0 58px 0 0;
    }
    .partner-links__link--5 {
        margin: 0 56px 0 0;
    }
    .copyrights__text-block {
        width: 220px;
    }
    .copyrights__text-block__head {
        font-size: 24px;
    }
    .copyrights__text-block__text {
        height: 170px;
        overflow: hidden;
    }
    .copyrights__text-block__text--resized {
        height: 146px;
    }
    .break2 {
        content: "";
    }
    .footer-block {
        background: url(../img/main_footer_bg_resized.jpg) 50% 0 no-repeat;
    }
    .main-footer {
        height: 158px;
    }
    .main-footer__menu .menu__item {
        padding-right: 55px
    }
    .autor_copyright {
        margin-top: 35px;
    }
}

/* MEDIA-QUERY 767 */

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 480px;
    }
    .logo {
        float: none;
        width: 158px;
        margin: 0 auto;
    }
    .main-header__menu {
        width: 246px;
        float: none;
        margin: 12px auto 0 auto;
    }
    .main-header__menu .menu__item {
        display: none;
    }
    .main-header__menu .menu__link {
        display: none;
    }
    .main-header__menu .menu__item--sub {
        height: 55px;
        display: block;
        padding: 0;
        text-align: center;
    }
    .main-header__menu .menu__item--sub .menu__link--sub {
        display: block;
        padding: 15px 0 10px 0;
    }
    .menu__item--sub:hover {
        background-color: rgba(49, 37, 56, 0.9);
        border-top: 1px solid #121b22;
        border-bottom: 1px solid #36283e;
        border-left: 1px solid #121b22;
        border-right: 1px solid #121b22;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
    }
    .menu__item--sub:hover> .submenu {
        display: block;
    }
    .submenu {
        width: 246px;
        top: 54px;
        left: -1px;
        background-color: rgba(49, 37, 56, 0.9);
        border-bottom: 1px solid #121b22;
        border-left: 1px solid #121b22;
        border-right: 1px solid #121b22;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-sizing: border-box;
        z-index: 15;
    }
    .submenu__item {
        display: block;
        text-align: center;
        border-top: 1px solid #5f486a;
        border-bottom: 1px solid #36283e;
        box-sizing: border-box;
    }
    .submenu__link {
        display: block;
        padding: 5px 0 10px 0;
        text-transform: uppercase;
        text-decoration: none;
        font: 24px 'League Gothic', Arial, sans-serif;
        color: #ffffff;
        text-shadow: 1px 2px 2px #4f4f4f;
    }
    .submenu__link:hover {
        background: url(../img/underline.png) 0 bottom repeat-x;
        background-color: rgba(28, 21, 33, 0.6);
    }
    .transparen-block {
        height: 350px;
    }
    .phone-slider__text {
        width: 214px;
        height: 63px;
        padding: 110px 0 0 0;
        overflow: hidden;
    }
    .phone-slider__text__head {
        font-size: 36px;
    }
    .phone-slider__text__description {
        font-size: 18px;
        white-space: nowrap;
        margin: -2px 0 0 0;
    }
    .phone-slider__text__paragraph {
        display: none;
    }
    .phone-slider__iphone {
        width: 260px;
        margin-right: 0;
    }
    .phone-slider__iphone__back {
        left: 0px;
    }
    .gradient-line {
        height: auto;
    }
    .about-us {
        height: auto;
        padding-bottom: 55px;
    }
    .about-block {
        width: auto;
        height: 160px;
        float: none;
    }
    .about-block__head {
        font-size: 24px;
    }
    .sprite--about-block-wrench {
        margin-left: 0px;
        margin-bottom: 120px;
    }
    .sprite--about-block-chat {
        margin-bottom: 120px;
    }
    .sprite--about-block--note {
        margin-bottom: 120px;
    }
    .last-block {
        padding: 0 30px 0 0;
    }
    .content {
        height: 680px;
    }
    .mentions {
        float: none;
        margin-bottom: 70px;
    }
    .updates {
        width: 328px;
        float: none;
        margin: 0 auto;
    }
    .updates__content-line__text {
        white-space: nowrap;
    }
    .updates__read-more {
        margin-right: 0px;
    }
    .white-block__footer__partners-links {
        height: 175px;
        padding-top: 35px;
    }
    .partner-links__link--1 {
        margin: 0 50px 0 75px;
    }
    .partner-links__link--2 {
        margin: 0 54px 0 0;
    }
    .partner-links__link--3 {
        margin: 0 0 0 0;
    }
    .partner-links__link--4 {
        margin: 30px 65px 0 60px;
    }
    .partner-links__link--5 {
        margin: 30px 55px 0 0;
    }
    .partner-links__link--6 {
        margin: 30px 0 0 0;
    }
    .copyrights {
        height: 627px;
    }
    .copyrights__text-block__head {
        font-size: 24px;
    }
    .copyrights__text-block {
        width: auto;
        height: 180px;
        margin: 0;
        float: none;
    }
    .break2 {
        content: "";
    }
    .footer-block {
        background: url(../img/main_footer_bg_resized.jpg) 50% 0 no-repeat;
    }
    .main-footer {
        height: 158px;
    }
    .main-footer__menu {
        float: none;
    }
    .main-footer__menu .menu__item {
        display: inline-block;
        padding-right: 17px
    }
    .main-footer__menu .last-item {
        padding: 0;
    }
    .autor_copyright {
        width: 160px;
        float: none;
        margin: 35px auto 0 auto;
    }
}

/* MEDIA-QUERY 479 */

@media screen and (max-width: 479px) {
    .container {
        width: 320px;
    }
    .bg-mountains {
        height: 600px;
    }
    .logo {
        float: none;
        width: 158px;
        margin: 0 auto;
    }
    .main-header__menu {
        width: 246px;
        float: none;
        margin: 12px auto 0 auto;
    }
    .main-header__menu .menu__item {
        display: none;
    }
    .main-header__menu .menu__link {
        display: none;
    }
    .main-header__menu .menu__item--sub {
        height: 55px;
        display: block;
        padding: 0;
        text-align: center;
    }
    .main-header__menu .menu__item--sub .menu__link--sub {
        display: block;
        padding: 15px 0 10px 0;
    }
    .menu__item--sub:hover {
        background-color: rgba(49, 37, 56, 0.9);
        border-top: 1px solid #121b22;
        border-bottom: 1px solid #36283e;
        border-left: 1px solid #121b22;
        border-right: 1px solid #121b22;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-sizing: border-box;
    }
    .menu__item--sub:hover> .submenu {
        display: block;
    }
    .submenu {
        width: 246px;
        top: 54px;
        left: -1px;
        background-color: rgba(49, 37, 56, 0.9);
        border-bottom: 1px solid #121b22;
        border-left: 1px solid #121b22;
        border-right: 1px solid #121b22;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-sizing: border-box;
        z-index: 15;
    }
    .submenu__item {
        display: block;
        text-align: center;
        border-top: 1px solid #5f486a;
        border-bottom: 1px solid #36283e;
        box-sizing: border-box;
    }
    .submenu__link {
        display: block;
        padding: 5px 0 10px 0;
        text-transform: uppercase;
        text-decoration: none;
        font: 24px 'League Gothic', Arial, sans-serif;
        color: #ffffff;
        text-shadow: 1px 2px 2px #4f4f4f;
    }
    .submenu__link:hover {
        background: url(../img/underline.png) 0 bottom repeat-x;
        background-color: rgba(28, 21, 33, 0.6);
    }
    .transparen-block {
        background-color: transparent;
    }
    .phone-slider__text {
        width: 214px;
        height: 63px;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
    .phone-slider__text__head {
        font-size: 36px;
    }
    .phone-slider__text__description {
        font-size: 18px;
        margin-top: -3px;
        white-space: nowrap;
    }
    .phone-slider__iphone {
        display: none;
    }
    .phone-slider {
        height: auto;
    }
    .transparen-block {
        height: auto;
    }
    .gradient-line {
        height: auto;
    }
    .about-us {
        height: 525px;
    }
    .about-block {
        width: 290px;
        height: 145px;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .last-block {
        padding: 0;
    }
    .about-block__head {
        font-size: 24px;
    }
    .sprite--about-block-wrench {
        margin: 0 12px 105px 0;
    }
    .sprite--about-block-chat {
        margin: 0 12px 105px 0;
    }
    .sprite--about-block--note {
        margin: 0 12px 105px 0;
    }
    .about-block__text {
        height: 70px;
        padding: 0 30px 0 0;
        overflow: hidden;
    }
    .break {
        content: none;
    }
    .break:after {
        content: none;
    }
    .mentions {
        width: 255px;
        margin: 0 auto;
        float: none;
    }
    .mentions__text {
        height: 170px;
    }
    .updates {
        width: 287px;
        height: 280px;
        float: none;
        margin: 0 auto;
    }
    .updates__content-line__sub {
        width: 155px;
        white-space: nowrap;
        overflow: hidden;
    }
    .updates__content-line__text {
        white-space: nowrap;
        overflow: hidden;
    }
    .content {
        height: 660px;
    }
    .white-block {
        height: auto;
    }
    .white-block__footer__partners-links {
        height: 395px;
        padding: 45px 0 0 0;
    }
    .partner-links__link--1 {
        margin: 0 54px 0 40px;
    }
    .partner-links__link--2 {
        margin: 0;
    }
    .partner-links__link--3 {
        margin: 60px 65px 0 40px;
    }
    .partner-links__link--4 {
        margin: 60px 0 0 0;
    }
    .partner-links__link--5 {
        margin: 60px 40px 0 20px;
    }
    .partner-links__link--6 {
        margin: 60px 0 0 0;
    }
    .dim-block {
        display: none;
    }
    .footer-block {
        background: url(../img/main_footer_bg_resized.jpg) 50% 0 no-repeat;
    }
    .main-footer {
        height: 158px;
    }
    .main-footer__menu {
        display: none;
    }
    .autor_copyright {
        width: 160px;
        float: none;
        margin: 0 auto 0 auto;
    }
}
