body {
    background: url(../img/main_bg.png) repeat-x #0c739f;
}
p, ul, h3 {
    padding: 0;
    margin: 0;
}
.logo a, .countries img, .countries li a, .countries p, ul.nav a, ul.submenu> li {
    display: block;
}
.copyright, .logo a, .contacts p {
    font: 12px Tahoma, sans-serif;
}
.clearfix:after {
    content: '';
    clear: both;
}
.copyright {
    text-align: center;
    color: #ffffff;
    margin: 5px 0 0 0;
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px #0d383d;
    border-bottom: 3px solid black;
}
.header {
    height: 175px;
}
.logo {
    width: 294px;
    height: 175px;
    float: left;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin: 0 0 0 21px;
}
.logo a {
    padding: 109px 0 0 79px;
    color: #128aa7;
    text-decoration: none;
}
.contacts {
    height: 75px;
    float: right;
    padding: 10px 28px 0 0;
}
.contacts p {
    color: #128aa7;
    padding: 0 0 4px 0;
}
.countries {
    clear: right;
    float: right;
    padding: 25px 25px 0 0;
}
.countries li {
    list-style: none;
    display: inline-block;
    padding: 0 7px 0 0;
}
.countries img {
    margin: 0 auto;
    padding: 0 0 2px 0;
}
.countries li a {
    text-decoration: underline;
    color: #128aa7;
}
.countries p {
    text-align: center;
    font: 10px Tahoma, sans-serif;
    color: #128aa7;
}
.photo {
    height: 238px;
    background: url(../img/photo_beach.jpg) no-repeat #ffffff;
}
ul.nav {
    height: 29px;
    background: url(../img/nav_bg.png) repeat-x #303030;
    box-shadow: 0px 2px 4px 0px rgba(85, 85, 85, 1);
}
ul.nav> li {
    display: inline-block;
    position: relative;
    height: 29px;
}
.menu_main_page {
    width: 175px;
}
.menu_travelling {
    width: 145px;
    background-position: 95px 12px;
}
.menu_services {
    width: 116px;
    background-position: 60px 12px;
}
.menu_partners {
    width: 100px;
    background-position: 81px 12px;
}
.menu_comments {
    width: 185px;
}
.menu_about {
    width: 95px;
}
.menu_contacts {
    width: 140px;
}
ul.nav a {
    font: 14px Tahoma, sans-serif;
    color: #ffffff;
    text-decoration: none;
}
ul.nav> li> a {
    padding: 5px 0 0 0;
    text-align: center;
    height: 24px;
}
ul.nav> li.activate {
    background-image: url(../img/nav_stick.png);
    background-repeat: no-repeat;
}
ul.nav> li.activate> a, ul.submenu> li> a {
    text-align: left;
    padding: 5px 0 0 5px;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 150px;
    height: 125px;
    top: 29px;
    left: 0;
    background-color: #303030;
    box-shadow: 0px 4px 7px 2px rgba(64, 64, 64, 0.75);
}
ul.submenu> li {
    height: 24px;
}
li.activate:hover> ul.submenu {
    display: block;
}
.content {
    overflow: hidden;
    margin: 3px 0 0 0;
}
.info, .space_box {
    float: left;
}
.news {
    float: right;
}
.info, .news {
    margin-bottom: -20000px;
    padding: 5px 15px 20000px 15px;
}
.info, .news {
    width: 210px;
    box-sizing: border-box;
    border-right: 1px solid #c7cacf;
    background-color: #edeef0;
}
.info> h3, .news> h3 {
    font: bold 16px Tahoma, sans-serif;
    color: #424c43;
    text-align: center;
    padding: 0 0 10px 0;
}
.info> p, .news> p {
    font: 14px Tahoma, sans-serif;
    color: #424c43;
    padding: 0 0 7px 0;
}
.space_box {
    width: 580px;
    background-color: #ffffff;
    margin-bottom: -20000px;
    padding-bottom: 20000px;
}
.news {
    border-left: 1px solid #c7cacf;
}
