// colors
$white: #ffffff;
$grey: #333333;
$light-grey: #666666;
$lightest-grey: #cccccc;
$black: #000000;
$light-red: #ff4e50;
$light-green: #1cd7ad;
$yellow: #ffa507;
$blue: #4e73db;
// paths
$font-path: "../fonts";
$images-path: "../img";
 // fonts
$default-fonts: Arial, sans-serif;
