<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="css/Normalize.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/templating.js"></script>


</head>

<body>
    <div class="page">
        <h5 class="header">Тест</h5>
        <script type="text/template" id="test">
            <form action="index.html" class="main-form" method="post">
                <% var qwCounter = 0;%>
                <% var answCounter = 0;%>
                <% for (var key in data) {%>
                    <% qwCounter++;%>
                    <div class="answers-box" id="qw<%= qwCounter %>">
                        <p class="answers-box__question"><%= qwCounter%>. <%= data[key].question %></p>
                        <% for (var i = 0; i < data[key].answers.length; i++) {%>
                        <% answCounter++;%>
                            <p class="answers-box__answers">
                                <input type="checkbox" class="answers__checkbox" id="che<%= answCounter %>">
                                <label for="che<%= answCounter %>" class="answers__label"><%= data[key].answers[i][0] %></label>
                            </p>
                        <% } %>
                    </div>
                <% }; %>
                <input  class="main-form__button" type="button" value="Проверить мои результаты">
            </form>
        </script>
    </div>
    <script src="js/script.js"></script>
</body>

</html>
