@font-face {
    font-family: 'League Gothic Italic';
    src: url('../fonts/leaguegothic-italic-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;

}
.logo__link--dark {
    color: #523a5c;
}
.gradient-line {
    background: url(../img/ie_gradient_bg.png) repeat-x;
}
.break {
    content: none;
}
.transparen-block {
    background: url(../img/ie_gray_bg.png) repeat;
}
