h5, p {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.head {
    width: 235px;
    margin: 0 auto 30px auto;
    padding: 10px 0 0 0;
    font: 18px Arial, sans-serif;
}

.answers-box__question {
    margin: 0 0 15px 0;
    font: 16px Arial, sans-serif;
}

.answers-box__answers {
    margin: 0 0 5px 30px;
    font: 14px Arial, sans-serif;
}

.answers__label {
    padding: 0 0 0 23px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.answers__checkbox {
    display: none;
}

.answers__label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CFE1F1;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #000000;
}

.answers__checkbox:checked+.answers__label:before {
    content: "\2714";
    color: #000000;
    text-align: center;
    line-height: 14px;
}

.answers-box {
    margin: 0 0 15px 0;
}

.main-form__button {
    display: block;
    width: 300px;
    height: 50px;
    margin: 20px auto 0 auto;
    background-color: #CFE1F1;
    border-color: #000000;
}
