ul, li, p, img, a {
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}


/* JCAROUSEL STYLES */

.jcarousel-wrapper {
    width: 500px;
    height: 300px;
    margin: 20px auto;
    position: relative;
    border: 10px solid #414141;
    border-radius: 5px;
    box-shadow: 0 0 2px #999;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

.jcarousel img {
    width: 500px;
    height: 300px;
}

.jcarousel-prev, .jcarousel-next {
    position: absolute;
    top: 145px;
    width: 20px;
    height: 40px;
    line-height: 37px;
    text-decoration: none;
    cursor: pointer;
    background-color: #414141;
    text-align: center;
    color: #ffffff;
}

.jcarousel-prev {
    left: -35px;
}

.jcarousel-next {
    right: -35px;
}

.jcarousel-prev.inactive, .jcarousel-next.inactive {
    opacity: 0.5;
    cursor: default;
}

.jcarousel-pagination {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.jcarousel-pagination a {
    display: inline-block;
    padding: 3px;
    margin: 0 2px 0 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font: 12px Arial, sans-serif;
    background-color: #2d2d2d;
    color: #ffffff;
}

.jcarousel-pagination a.active {
    opacity: 0.5;
}


/* SELECT-BOX and CHECKBOXES STYLES */

.select-box {
    width: 700px;
    margin: 100px auto;
}

.select-box h1 {
    text-align: center;
}

.select-box__text {
    font: 16px Arial, sans-serif;
    margin: 20px 0;
}

.select-box__text a {
    text-decoration: none;
}

.first {
    margin: 0 100px 0 30px;
}

.checkboxes-line {
    margin: 30px;
}

.answers__label {
    padding: 0 0 0 23px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.answers__checkbox {
    display: none;
}

.answers__label:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CFE1F1;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #000000;
}

.answers__checkbox:checked+.answers__label:before {
    content: "\2714";
    color: #000000;
    text-align: center;
    line-height: 14px;
}

.niceCheck {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/checkbox-bg.png);
}

.niceCheck input {
    display: none;
}


/* MENU STYLES */

.menu-test {
    background-color: #414141;
}

.menu-box {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
}

.menu .menu__item {
    display: inline-block;
    position: relative;
}

.menu__link {
    display: block;
    line-height: 40px;
    padding: 0 12px;
    margin: 0 12px;
    color: #fff;
    text-decoration: none;
}

.sub-menu {
    position: absolute;
    display: none;
    width: 200px;
    /*height: 0px;*/
    /*opacity: 0;*/
    background-color: #414141;
    z-index: 9999;
    /*transition: all .5s;*/
}

.sub-menu-lvl1 {
    left: 0;
    top: 40px;
}

.sub-menu-lvl2, .sub-menu-lvl3 {
    top: 0;
    left: 200px;
    margin: 0;
}

.sub-menu-lvl1 .menu__item {
    margin: 0;
    display: block;
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
    color: #26869c;
}

.sub-menu-lvl1 .menu__link {
    border-bottom: solid 1px #414141;
    margin: 0 10px;
    padding: 0;
}

.sub-menu-lvl1 .menu__item:last-child .menu__link {
    border-bottom: none;
}

.menu .menu__item.dropdown>.menu__link {
    background-image: url('../img/arrow-down.png');
    background-position: right 20px;
    background-repeat: no-repeat;
}

.sub-menu-lvl1 .menu__item.dropdown>.menu__link {
    background-image: url('../img/arrow-right.png');
    background-position: right 16px;
    background-repeat: no-repeat;
}
