<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URLAUBSGLÜCK</title>
    <!-- inject:css -->
    <link href="css/normalize.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <!-- endinject -->
    <!-- inject:js -->
    <script src="js/libs/jquery-3.1.1.min.js"></script>
    <!-- endinject -->
    <!--[if lt IE 9]>
        <script src="js/libs/script.ie8.js"></script>
        <link href="css/style.ie8.css" type="text/css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body>
    <header class="main-header">
        <div class="main-header__inner">
            <div class="main-header__top-bar" data-style="display: flex;">
                <a href="index.html" class="main-header__site-name">URLAUBSGLÜCK</a>
                <div class="auth">
                    <a href="#" class="auth__login">Log in</a>
                    <a href="#" class="auth__signup">Sign up</a>
                </div>
            </div>
            <div class="main-header__jumbo">
                <h1 class="main-header__slogan">Share your
holiday dreams</h1>
                <h4 class="main-header__promo">And find the perfect partner
to fullfill it</h4>
                <a href="#" class="btn btn--findpart">Find your holiday partner</a>
            </div>
        </div>
    </header>
    <section class="how-works">
        <div class="how-works__inner">
            <h4 class="how-works__header">How Urlaubsglück works?</h4>
            <div class="how-works__container">
                <div id="slidr-div" style="dislay: block">
                    <div data-slidr="one" class="how-works__step step step--1">
                        <a href="#" class="btn btn--step">STEP 1</a>
                        <h4 class="step__name">Sed leo enim,
        condimentum</h4>
                        <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                    <div data-slidr="two" class="how-works__step step step--2">
                        <a href="#" class="btn btn--step">STEP 2</a>
                        <h4 class="step__name">Morbi velit risus</h4>
                        <p class="step__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                    </div>
                    <div data-slidr="three" class="how-works__step step step--3">
                        <a href="#" class="btn btn--step">STEP 3</a>
                        <h4 class="step__name">Sed leo enim,
        condimentum</h4>
                        <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </div>
                <div id="slidr-div2" style="dislay: block">
                    <div data-slidr="one" class="how-works__step step step--2">
                        <a href="#" class="btn btn--step">STEP 2</a>
                        <h4 class="step__name">Morbi velit risus</h4>
                        <p class="step__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                    </div>
                    <div data-slidr="two" class="how-works__step step step--1">
                        <a href="#" class="btn btn--step">STEP 1</a>
                        <h4 class="step__name">Sed leo enim,
        condimentum</h4>
                        <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                    <div data-slidr="three" class="how-works__step step step--3">
                        <a href="#" class="btn btn--step">STEP 3</a>
                        <h4 class="step__name">Sed leo enim,
        condimentum</h4>
                        <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                </div>
                <div id="slidr-div3" style="dislay: block">
                    <div data-slidr="one" class="how-works__step step step--3">
                        <a href="#" class="btn btn--step">STEP 3</a>
                        <h4 class="step__name">Sed leo enim,
        condimentum</h4>
                        <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                    <div data-slidr="two" class="how-works__step step step--1">
                        <a href="#" class="btn btn--step">STEP 1</a>
                        <h4 class="step__name">Sed leo enim,
        condimentum</h4>
                        <p class="step__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                    </div>
                    <div data-slidr="three" class="how-works__step step step--2">
                        <a href="#" class="btn btn--step">STEP 2</a>
                        <h4 class="step__name">Morbi velit risus</h4>
                        <p class="step__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partners">
        <div class="partners__inner">
            <h4 class="partners__header">Meet a partner for your
best holiday</h4>
            <div class="partners__container">
                <div class="partners__person person person--1">
                    <img src="img/person-ava--1.png" alt="Bradley Hunter" class="person__avatar" width="120px" height="120px">
                    <div class="person__elipse person__elipse--red">
                        <span class="person__icon person__icon--red"></span>
                    </div>
                    <h5 class="person__name">Bradley Hunter</h5>
                    <p class="person__about">Based in Chicago. I love playing tennis and loud music.</p>
                </div>
                <div class="partners__person person person--2">
                    <img src="img/person-ava--2.png" alt="Lucas Marsha" class="person__avatar" width="120px" height="120px">
                    <div class="person__elipse person__elipse--yellow">
                        <span class="person__icon person__icon--yellow"></span>
                    </div>
                    <h5 class="person__name">Lucas Marsha</h5>
                    <p class="person__about">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
                </div>
                <div class="partners__person person person--3">
                    <img src="img/person-ava--3.png" alt="Heather Walker" class="person__avatar" width="120px" height="120px">
                    <div class="person__elipse person__elipse--green">
                        <span class="person__icon person__icon--green"></span>
                    </div>
                    <h5 class="person__name">Heather Walker</h5>
                    <p class="person__about">I'm a happy person that loves cats and climbing on mountains.</p>
                </div>
                <div class="partners__person person person--4">
                    <img src="img/person-ava--4.png" alt="Bradley Hunter" class="person__avatar" width="120px" height="120px">
                    <div class="person__elipse person__elipse--blue">
                        <span class="person__icon person__icon--blue"></span>
                    </div>
                    <h5 class="person__name">Bradley Hunter</h5>
                    <p class="person__about">Based in Chicago. I love playing tennis and loud music.</p>
                </div>
            </div>
            <a href="#" class="btn btn--partners">See other partners</a>
        </div>
    </section>
    <section class="ideas">
        <div class="ideas__inner">
            <h4 class="ideas__header">Discover holiday activity
ideas</h4>

            <div class="ideas__container">
                <script type="text/template" id="masonry-tmpl">
                    <div class="grid">
                        <div class="grid-sizer"></div>
                        <% for (var i = 0; i < 11; i++) { %>
                            <figure class="grid-item">
                                <img src="<%= hits[i].webformatURL %>" alt="picture" class="grid__img" />
                                <figcaption class="grid__title">
                                    <%= hits[i].tags.split(', ')[1] %>
                                </figcaption>
                            </figure>
                            <% }; %>
                    </div>
                </script>
            </div>
        </div>
    </section>
    <section class="search-ideas">
        <div class="search-ideas__inner">
            <h4 class="search-ideas__header">Discover holiday activity
ideas</h4>
            <p class="search-ideas__promo">Hi! What are your holiday interests?</p>
            <form action="index.html" class="search-ideas__form search-form">
                <div class="search-form__input-container">
                    <input class="search-form__input js-search-keyword" type="text" name="search-form__input" placeholder="Enter your interests">
                </div>
                <button class="btn btn--search js-btn-search" type="submit" name="btn--search">Search partners</button>
            </form>
        </div>
    </section>
    <footer class="main-footer">
        <div class="main-footer__inner">
            <div class="main-footer__container">
                <a href="#" class="main-footer__head">URLAUBSGLÜCK</a>
                <nav class="main-footer__nav company-nav">
                    <h6 class="company-nav__head">Company</h6>
                    <ul class="company-nav__list">
                        <li class="company-nav__item"><a href="#" class="company-nav__link">About</a></li>
                        <li class="company-nav__item"><a href="#" class="company-nav__link">Contacts</a></li>
                        <li class="company-nav__item"><a href="#" class="company-nav__link">Press</a></li>
                        <li class="company-nav__item"><a href="#" class="company-nav__link">Blog</a></li>
                    </ul>
                </nav>
                <h6 class="main-footer__partners">Partners</h6>
            </div>
            <div class="main-footer__copyright rights">
                <span class="rights__text">Designed by</span>
                <a href="#" class="rights__image"></a>
            </div>
        </div>
    </footer>

    <!--[if lt IE 9]>
        <script src="js/libs/html5shiv.ie8.js"></script>
        <script src="js/libs/respond.ie8.js"></script>
    <![endif]-->
    <!-- afterdocument:js -->
    <script src="js/libs/slidr.min.js"></script>
    <script src="js/libs/tmpl.js"></script>
    <script src="js/libs/imagesloaded.pkgd.min.js"></script>
    <script src="js/libs/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
    <!-- endinject -->
</body>

</html>
