// colors
$white: #ffffff;
$black: #000000;
$dark-blue: #032f3e;
$light-blue: #0d3948;
$primary-icons-color: #ab987a;
$light-grey: #d5d5d5;
$grey: #616161;
// paths
$font-path: "../fonts";
$images-path: "../img";
 // fonts
$default-fonts: Arial, sans-serif;
