@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("../fonts/BebasNeueRus.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/BebasNeueRusBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Martina Regular';
  src: url("../fonts/martina_regular-webfont.woff2") format("woff2"), url("../fonts/martina_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro Regular';
  src: url("../fonts/GothamProRegular.woff2") format("woff2"), url("../fonts/GothamProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro Light';
  src: url("../fonts/GothamProLight.woff2") format("woff2"), url("../fonts/GothamProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff;
  overflow-x: hidden; }

.main-header {
  background-color: #3d6dd1;
  position: relative; }
  .main-header::before {
    content: " ";
    display: block;
    width: 50%;
    height: 37px;
    position: absolute;
    left: 0;
    top: 41px;
    background-color: #1f90fe;
    z-index: 1; }
  .main-header__inner {
    width: 1322px;
    margin: 0 auto;
    position: relative;
    background-color: #3d6dd1;
    z-index: 4; }
  .main-header__inner::before {
    content: "B.A.D. novells";
    display: block;
    width: 17.5%;
    height: 37px;
    padding: 0 0 0 24px;
    position: absolute;
    left: 0;
    top: 41px;
    background-color: #1f90fe;
    text-transform: uppercase;
    font: 34px/1.1 "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    z-index: 2; }
  .main-header__top-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-header__logo {
    margin: -100px 0 0 110px; }
  .main-header__social {
    width: 160px;
    height: 71px;
    margin: 180px 200px 0 0; }
  .main-header__lang {
    margin-top: 40px;
    padding-right: 20px;
    height: 37px;
    cursor: pointer;
    background: url("../img/lang-arrow.png") 87px 9px no-repeat;
    transition: background-color linear 0.2s; }
  .main-header__lang:hover {
    background-color: #1f90fe;
    background-position: 87px -25px; }
  .main-header__lang-item {
    padding: 0 0 0 10px;
    text-decoration: none;
    font: 34px "Bebas Neue Regular", Arial, sans-serif;
    color: #ffffff; }
  .main-header__lang-item--transparent {
    opacity: 0;
    transition: linear 0.2s; }
  .main-header__lang:hover .main-header__lang-item--transparent {
    opacity: 1; }
  .main-header__bottom-wrap {
    position: relative;
    z-index: 5; }
  .main-header__promo {
    width: 485px;
    padding: 0 0 0 20px; }
  .main-header__greetings {
    font: 60px/1.4 "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 3px;
    color: #87a6ea;
    text-transform: uppercase; }
  .main-header__promo-text {
    padding: 30px 0 0 0;
    text-align: justify;
    font: 24px/1.3 "GothamPro Regular", Arial, sans-serif;
    color: #ffffff; }
  .main-header__images-box {
    position: absolute;
    right: 13px;
    top: 13px;
    margin: -150px -257px 0 0; }

.top-slider {
  width: 818px;
  height: 818px;
  border: 30px solid #1f90fe; }
  .top-slider:before, .top-slider:after {
    content: "";
    display: table; }
  .top-slider:after {
    clear: both; }
  .top-slider__item {
    width: 761px;
    height: 761px;
    float: left; }
  .top-slider__item:focus {
    outline: none; }
  .top-slider__img-box1 {
    width: 1192px;
    height: 521px;
    position: absolute;
    top: -37px;
    left: -129px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    box-shadow: -19px 23px 40px -21px rgba(0, 0, 0, 0.75); }
  .top-slider__img-box2 {
    width: 758px;
    height: 254px;
    position: absolute;
    bottom: 67px;
    left: 342px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    box-shadow: -19px 23px 40px -21px rgba(0, 0, 0, 0.75); }

.button {
  display: block;
  border: 3px solid #87a6ea;
  text-decoration: none;
  text-align: center;
  font: 34px/56px "Bebas Neue Regular", Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #87a6ea;
  cursor: pointer;
  transition: linear 0.2s; }
  .button:hover {
    background-color: #87a6ea;
    color: #ffffff; }
  .button--promo {
    width: 303px;
    margin: 45px 0 0 0; }
  .button--submit {
    width: 300px;
    padding: 0;
    margin: 0;
    outline: 0;
    background-color: #ffffff; }

.triangle-right {
  position: relative;
  top: 5px; }
  .triangle-right--special {
    position: absolute;
    right: 0;
    bottom: 0; }

.triangle-left {
  position: relative;
  top: -1px;
  left: 0; }

.main-logo {
  width: 520px;
  height: 520px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-logo::before {
    content: " ";
    position: absolute;
    top: 76px;
    left: 75px;
    display: block;
    width: 368px;
    height: 368px;
    border: 30px solid #1f90fe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: 5; }
  .main-logo__image {
    padding: 5px 0 5px 0; }
  .main-logo__link {
    display: block;
    width: 210px;
    height: 210px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px/18px "Martina Regular", Arial, sans-serif;
    color: #ffffff;
    z-index: 10; }
  .main-logo__link--break {
    display: block;
    text-transform: lowercase; }

.social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 71px;
    height: 71px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    fill: #87a6ea;
    border: 3px solid #87a6ea;
    border-radius: 15px;
    transition: linear 0.1s; }
  .social__link:hover {
    fill: #ffffff;
    border-color: #ffffff; }
  .social__link--hover-blue:hover {
    fill: #1f90fe;
    border-color: #1f90fe; }
  .social__svg {
    display: block;
    width: 40px;
    height: 40px; }
  .social__svg--big {
    width: 50px;
    height: 50px; }

/* PROJECTS SECTION */
.projects {
  background-color: #ffffff; }
  .projects__inner {
    width: 1322px;
    margin: 0 auto;
    padding: 140px 0 0 0;
    position: relative;
    z-index: 3; }
  .projects__inner::before {
    content: " ";
    display: block;
    width: 50%;
    height: 50px;
    position: absolute;
    top: -45%;
    left: 26.03%;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-color: #3d6dd1; }
  .projects__header {
    width: 265px;
    height: 50px;
    padding: 0 0 0 15px;
    top: -7%;
    left: 41%;
    position: absolute;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font: 34px/50px "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #3d6dd1; }
  .projects__header::after {
    content: "02";
    display: block;
    width: 100px;
    position: absolute;
    top: -11px;
    right: 40px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font: 71px "GothamPro Light", Arial, sans-serif;
    color: #87a6ea; }

.project-box {
  margin-bottom: 100px; }
  .project-box:last-child {
    margin-bottom: 0; }
  .project-box__wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .project-box__logo-wrap {
    width: 650px;
    height: 500px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .project-box__logo-img {
    width: 580px; }
  .project-box__gallery {
    width: 650px;
    height: 500px; }
  .project-box__text {
    padding: 30px 0 0 0;
    font: 24px/1.2 "GothamPro Regular", Arial, sans-serif;
    text-align: justify;
    color: #2b2a2c; }
  .project-box__links {
    margin-top: 35px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .project-box__app-link {
    display: block;
    width: 315px;
    height: 102px;
    margin-right: 45px;
    cursor: pointer; }
  .project-box__app-link:last-child {
    margin-right: 0; }

.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
  .gallery__item {
    width: 314px;
    height: 240px;
    position: relative; }
  .gallery__overlay {
    width: 314px;
    height: 240px;
    position: absolute;
    top: 0;
    border: 10px solid #1f90fe;
    background: rgba(0, 0, 0, 0.6) url("../img/magnifier.png") center center no-repeat;
    cursor: pointer;
    transition: linear 0.1s;
    opacity: 0; }
  .gallery__overlay:hover {
    opacity: 1; }

.features {
  background-color: #3d6dd1; }
  .features__inner {
    width: 1322px;
    margin: 0 auto;
    padding: 165px 0 0 0;
    position: relative;
    z-index: 2; }
  .features__inner::before {
    content: " ";
    display: block;
    width: 50%;
    height: 50px;
    position: absolute;
    top: -45%;
    left: 25.74%;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-color: #ffffff; }
  .features__header {
    width: 310px;
    height: 50px;
    padding: 0 0 0 15px;
    top: -9%;
    left: 39%;
    position: absolute;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font: 34px/50px "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 1px;
    color: #3d6dd1;
    background-color: #ffffff; }
  .features__header::after {
    content: "03";
    display: block;
    width: 100px;
    position: absolute;
    top: -11px;
    right: 47px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font: 71px "GothamPro Light", Arial, sans-serif;
    color: #87a6ea; }
  .features__text {
    padding: 0 20px;
    text-align: center;
    font: 24px/1.2 "GothamPro Regular", Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff; }
  .features__wrap {
    padding-top: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .features__item {
    width: 400px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .features__item-head {
    text-align: center;
    text-transform: uppercase;
    font: 34px/1.6 "Bebas Neue Bold", Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff; }
  .features__border-wrap {
    width: 400px;
    height: 335px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .features__border {
    width: 216px;
    height: 216px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    border: 18px solid #1f90fe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #4b99ba;
    transition: linear .2s; }
  .features__border:hover {
    width: 180px;
    height: 180px;
    border-width: 10px; }

.contacts {
  background-color: #ffffff; }
  .contacts__inner {
    width: 1322px;
    padding: 110px 0 0 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts__inner::before {
    content: " ";
    display: block;
    width: 50%;
    height: 50px;
    position: absolute;
    top: -45%;
    left: 24.85%;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    background-color: #3d6dd1; }
  .contacts__header {
    width: 260px;
    height: 50px;
    padding: 0 0 0 15px;
    top: -9%;
    left: 40%;
    position: absolute;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font: 34px/50px "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    background-color: #3d6dd1; }
  .contacts__header::after {
    content: "04";
    display: block;
    width: 100px;
    position: absolute;
    top: -13px;
    right: 30px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font: 71px "GothamPro Light", Arial, sans-serif;
    color: #87a6ea; }
  .contacts__promo-head {
    text-align: center;
    text-transform: uppercase;
    font: 60px/1.2 "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 2px;
    color: #87a6ea; }
  .contacts__text {
    padding: 25px 0 0 0;
    font: 24px/1.2 "GothamPro Regular", Arial, sans-serif;
    text-align: center;
    color: #2b2a2c; }
  .contacts__social {
    width: 410px;
    margin: 40px 0 30px 0; }
  .contacts__form-wrap {
    width: 960px;
    padding-top: 20px; }

.feedback {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .feedback__inp-text {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #3d6dd1;
    outline: none;
    font: 18px "GothamPro Light", Arial, sans-serif;
    color: #2b2a2c; }
  .feedback__inp-text--last {
    margin-bottom: 55px; }

.main-footer {
  position: relative;
  background: url("../img/footer-bg.svg") right bottom no-repeat; }
  .main-footer__inner {
    width: 1322px;
    padding: 100px 0 0 0;
    margin: 0 auto;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .main-footer__up {
    margin-bottom: 20px; }
  .main-footer__wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .main-footer__text {
    margin-bottom: 10px;
    text-transform: uppercase;
    font: 30px "Bebas Neue Regular", Arial, sans-serif;
    letter-spacing: 1px;
    color: #ffffff; }
  .main-footer__link {
    display: inline-block;
    margin-bottom: 7px;
    padding: 0 20px 0 0;
    position: relative;
    font: 18px/1.4 "GothamPro Regular", Arial, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    transition: linear .1s; }
  .main-footer__link:hover {
    opacity: 0.6; }
  .main-footer__link::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    right: 0;
    background: url("../img/gh-bg.svg") center center no-repeat;
    background-size: cover; }

.up-arrow {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;
  background: url("../img/up-arrow.svg") center center no-repeat;
  background-size: cover;
  cursor: pointer; }

/******** modal window *************/
.modal-frame {
  width: 70%;
  position: relative;
  overflow: hidden; }

.modal-window {
  width: 100%;
  height: 100%;
  padding-top: 4%;
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1000; }

.close-modal {
  width: 200px;
  height: 200px;
  position: absolute;
  right: -120px;
  top: -120px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  cursor: pointer; }

.cross-in-circle {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  background: url("../img/cross-in-circle.svg") no-repeat;
  background-size: 35px 35px; }
