@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("../fonts/bebas_neue_regular-webfont.woff2") format("woff2"), url("../fonts/bebas_neue_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Martina Regular';
  src: url("../fonts/martina_regular-webfont.woff2") format("woff2"), url("../fonts/martina_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/bebas-neue-bold-webfont.woff2") format("woff2"), url("../fonts/bebas-neue-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro Regular';
  src: url("../fonts/GothamProRegular.woff2") format("woff2"), url("../fonts/GothamProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro Light';
  src: url("../fonts/GothamProLight.woff2") format("woff2"), url("../fonts/GothamProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0; }

body {
  background-color: #fff; }

.main-header {
  background-color: #3d6dd1; }
  .main-header__inner {
    width: 1322px;
    margin: 0 auto; }
  .main-header__top {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-header__logo {
    margin-top: -100px; }

.main-logo {
  width: 520px;
  height: 520px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-logo::before {
    content: " ";
    position: absolute;
    top: 76px;
    left: 75px;
    display: block;
    width: 368px;
    height: 368px;
    border: 30px solid #1f90fe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    z-index: 5; }
  .main-logo__link {
    display: block;
    padding: 165px 0 0 0;
    width: 210px;
    height: 210px;
    background: url("../img/main-logo.png") 4px 5px no-repeat;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font: 20px/18px "Martina Regular", Arial, sans-serif;
    color: #ffffff;
    z-index: 10; }
  .main-logo__link--break {
    display: block;
    text-transform: lowercase; }
