$font-path: "../fonts";
$images-path: "../img";
$white: #ffffff;
$blue: #248cec;
$dark-grey: #35383c;
$light-grey: #828385;
$links-hover: #cc9919;
$main-width: 1160px;
@mixin inner-block {
    margin: 0 auto;
    width: $main-width;
}
