// colors
$white:           #ffffff;
$black:           #000000;
$main-blue:       #3d6dd1;
$sub-blue:        #1f90fe;
$icons-color:     #87a6ea;
$features-bg:     #4b99ba;
$dark-text-color: #2b2a2c;
// paths
$font-path: "../fonts";
$images-path: "../img";
 // fonts
$default-fonts: Arial, sans-serif;
